---
import NavLinks from "./navLinks.astro"

---

<header class="fixed top-0 w-full px-10 py-4 z-50">
    <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
        <img class="h-14 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 " src="/logo.svg" alt="Logo - Boton inicio">
        <nav class="flex items-center justify-end gap-10 ">
            <NavLinks link="/">
                Inicio
            </NavLinks>
            <NavLinks link="/design">
                Diseño Industrial
            </NavLinks>
            <NavLinks link="/desarrollo">
                Desarrollo XR
            </NavLinks>
        </nav>
    </div>
</header>